src/main/mule/poc_errorhandling_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="91afc1f3-a40f-422f-8a66-019964cbd438" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mummy@mi234" database="db" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="269550eb-4147-4e4f-bc08-c08abe0ea574" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="poc_errorhandling_dbFlow_select" doc:id="52105bd6-f470-49ad-b602-c62402fb2676" >
		<http:listener doc:name="Listener" doc:id="e6bb1dd9-f432-4bcd-a77c-12f8df217619" config-ref="HTTP_Listener_config" path="/select">
			<http:error-response statusCode="404" reasonPhrase="Table not found">
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="3605b4ed-08b4-40d8-bb74-aae828ed2c6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="78189dd3-a983-4a9a-bd8e-e71349b5799b" message="#[payload]"/>
	</flow>
</mule>
